@media screen and (min-width: 460px) and (max-width: 499px), screen and (min-width: 850px) and (max-width: 1249px) {
    .opened-pokemon-details .main .main-content .pokemons{
        .pokemon img{
            height: 100px;
            width: 100px;
        }
    }

    .variation-img-background, .evolution-img-background{
        height: 100px;
        width: 100px;
    }

    .image-card, .pokeball-card{
        max-width: 310px;
        width: 310px;
    }

}

@media screen and (min-width: 500px) and (max-width: 700px){
    .info-value{
        font-size: 15px;
        width: 100px;
    }
}

@media screen and (min-width: 500px) and (max-width: 915px), (min-width: 1000px) and (max-width: 1120px) {
    .opened-pokemon-details .main .main-content .pokemons{
        .detail{
            display: flex;
            flex-direction: column;
        }

        .types{
            display: flex;;
            flex-direction: row;
            align-self: center;
            order: 2;
        }
    }
}

@media screen and (min-width: 1020px) and (max-width: 1120px){
    .evolutions-list, .variations-list{
        width: 50vw;
    }
}