.details-content{
	position: relative;
    order: 1;
    margin: 1rem auto;
}

.bottom{
    margin-top: 30px;
}

.pokeball-card{
	width: 260px;
	position: absolute;
	filter: invert(1) opacity(0.2);
	right: 2%;
	z-index: 1;
    margin-right: -60px;
}

.image-card{
	position: relative;
	justify-self: center;
    width: 95%;
    max-width: 260px;
    transform: scale(1.15);
	z-index: 2;
    margin-top: 10px;
}

.pokemon-title{
	text-align: center;
    color: rgb(40, 40, 40);
}

.card{
	background-color: rgb(236, 236, 236);
	width: 100%;
    margin-top: 30px;
	border-radius: 8px;
	z-index: 3;
    height: fit-content;
    padding-bottom: 10px;
}

.card-title{
    color: black;
    filter: opacity(0.6);
    padding-top: 15px;
    padding-left: 15px;
}

.stat{
    list-style-type: none;
    padding-left: 25px;   
    margin-bottom: 8px;  
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.stat-name{
    list-style-type: none;
    text-transform: capitalize;
    width: 80px;
}

.stat-name, .stat-value, .ability{
    font-size: 14px;
}

.stat-bar-background{
    background-color: black;
    filter: opacity(0.4);
    height: 15px;
    border-radius: 15px;
    margin-right: 10px;
    width: 46%;
}

.stat-bar{
    border-radius: 30px;
    background-color: green;
    height: 15px;
    width: 100%;
    min-width: 15px;
}

.stats-total{
    font-weight: 620;
}

.invisible-bar{
    background-color: #ECECEC;
}

.abilities-list{
    display: flex;
    gap: 8px 5%;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 12px;
}

.ability{
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: fit-content;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-wrap: nowrap;
    cursor: default;
    position: relative;
}

.ability-info-box{
    display: none;
    position: absolute;
    background-color: #5E5E5E;
    min-width: 135px;
    white-space: initial;
    padding: 10px;
    border-radius: 8px;;
    top:0;
    margin-top: 22px;
    z-index: 10;
}

.ability:hover .ability-info-box{
    display:block;
}

.ability-name{
    text-transform: capitalize;
    padding: 4px 10px 4px 10px;
}

.hidden{
    background-color: rgb(255, 60, 60);
    font-size: 10px;
    color: white;
    border-radius: 15px;
    margin-left: 10px;
    padding: 2px 6px 2px 6px;
    margin-right: 3px;
    margin-left: -5px;
}

.variations-list, .evolutions-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    padding-right: 20px; 
}

.variations-list {
    flex-wrap: wrap;
}

.evolutions-list{
    padding-left: 20px;
    max-width:50vw
}

.variation, .evolution{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
}

.variation{
    padding-left: 20px;
}

.variation img, .evolution img{
    padding: 5px;
    cursor: pointer;
    display: block;
}

.variation-img-background, .evolution-img-background{
    background-color: white;
    border-radius: 8px;
    height: 100px;
    width: 100px;
}

.evolution-line{
    height: 145px;
}

.variation img:hover, .evolution img:hover{
    transform: scale(1.1);
}

.variation-name, .evolution-name{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 13px;
    margin: 10px;
}

.evolution-arrow{
    font-size: 30px;
    margin-top: -32px;
    padding: 10px;
}

.evolution-column{
    display: flex;
    flex-direction: column;
}

.evolution-line{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-card{
    padding: 25px 25px 15px 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.info-row{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.info-name{
    font-weight: 550;
    font-size: 16px;
    min-width: 100px;
    width: 100px;
}

.info-value{
    font-size: 15px;
    width: 145px;
    margin-bottom: 2px;
}