* {
    font-family: 'Roboto', 'sans-serif';
    box-sizing: border-box;
    max-width: 100%;
}

body {
    background-color: #e4e4e4;;
}

.body{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.main{
    display: flex; 
    flex-direction: row;
}

.content{
    padding: 1rem;
    background-color: #fff;
    width: 100vw;
    margin: 1rem auto;
    border-radius: 1rem;
}

.cubus{
    height: 300px;
    width: 300px;
    background-color: rgb(108, 108, 110);
}

.content h1 {
    margin: 0;
    margin-bottom: 15px;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
}

.btn-pagination{
    background-color: red;
    border: 1px solid red;
    color: white;
    cursor: pointer;
    font-size: 9px;
    padding: 4px 7px 4px 7px;
    border-radius: 5px;
}

.btn-pagination-small{
    font-size: 9px;
    padding: 4px;
}

.btn-pagination:hover{
    transform:scale(1.1)
}

.btn-pagination:active {
    transform:scale(1.05);
}