* {
    font-family: 'Montserrat', 'Roboto', 'sans-serif';
    box-sizing: border-box;
    max-width: 100%;
}

html, body {
    overflow-x:hidden; 
}

body {
    background-color: #d1d1d1;
}

.title{
    color: #5E5E5E;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.main{
    display: flex; 
    flex-direction: column;
}

.content{
    padding: 1rem;
    margin: 1rem auto;
    background-color: white;
    width: 100vw;
    border-radius: 1rem;
    order: 2;
}

.content h1 {
    margin: 0;
    margin-bottom: 15px;
}

.pokemons  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
}

.pokemon {
    margin: .5rem;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    filter: drop-shadow(0 0 0.2rem black);
}

.pokemon, .gradient{
    border-radius: 1rem;
    min-width: none !important;
    width: auto;
}

.gradient, .detail-gradient{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.gradient{
    height: 100%;
}

.pokemon:hover{
    transform: scale(1.08);
}

.pokemon:active{
    transform: scale(1.04);
}

.pokemon .number{
    opacity: .7;
    text-align: right;
    font-size: .625rem;
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.types {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 500;
    display: flex;;
    flex-direction: row;
    align-self: center;
    order: 2;
}

.types .type {
    background-color: --main-color;
    filter: brightness(1.2) drop-shadow(0 0 0.07rem black);
    padding: .25rem .5rem;
    font-size: .625rem;
    margin: .25rem 0;
    border-radius: 1rem;
    text-align: center;
}

.detail img{
    max-width: 100%;
    height: 90px;
    align-self: center;
    padding: 4px;
    filter: drop-shadow(0 0 0.2rem black);
    background-image: url('../../images/pokeball-opaque.png');
    border-radius: 100px;
    overflow: visible;
    background-size: 100%;
    background-repeat: no-repeat;
    /* align-self: flex-end; */
}

.name{
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: capitalize;
    align-self: center;
}
/* 1rem = default (geralmente 16px) */

/* .main-content, .pagination{
    display: none !important;
} */

