@media screen and (min-width: 420px){
	.pokemons {
        grid-template-columns: 1fr 1fr;
    }

    .details-open-pokemon{
        grid-template-columns: 1fr;
    }
    
    .pokeball-card{
		width: 220px;
	}
}

@media screen and (min-width: 450px){

    .details-open-main{
        width: 100%;
    }

    .pokemon{
        min-width: 170px;
    }

    .details-open-pokemon{
        .pokemon{
            width: auto;
        }

        .name{
            align-self: left;
        }

        .detail{
            display: flex;
            flex-direction: row;
        }

        .types{
            flex-direction: column;
            align-self: left;
            order: 1;
        }  

        .pokemon .detail img{
            max-width: none;
            height: 80px;
            align-self: right;
            order: 2;
        }
    }
}

@media screen and (min-width: 600px){
    .pokeball-card{
        width: 250px;
    }
}

@media screen and (min-width: 700px){
    .pokeball-card{
        width: 280px;
    }
    
    .image-card{
        margin-top: 0px;
    }

    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .details-open-pokemon{
        grid-template-columns: 1fr 1fr;
    }

    .main{
        gap: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (min-width: 760px){
    .pokeball-card{
        width: 300px;
    }
}

@media screen and (min-width: 790px){
    .image-card{
        width: 350px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 900px){
    .pokeball-card{
        width: 350px;
    }
}

@media screen and (min-width: 1050px){
    .content{
        max-width: 1050px;
    }

    .main{
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .details-open-pokemon{
        grid-template-columns: 1fr 1fr 1fr;
    }
}