@media screen and (min-width: 380px){
    .stat{
        gap: 0px;
    }

    .stat-name{
        width: 110px;
    }

    .stat-name, .stat-value{
        font-size: 16px;
    }

    .ability{
        font-size: 16px;
    }

}

@media screen and (min-width: 400px){

    .variation-name, .evolution-name{
        font-size: 14px;
    }

    .detail{
        display: flex;
        flex-direction: row;
    }

    .types{
        flex-direction: column;
        order: 2;
    }  

    .pokemon .detail img{
        max-width: none;
        align-self: right;
        order: 2;
    }
}

@media screen and (min-width: 460px){
    .variation-img-background, .evolution-img-background{
        height: 110px;
        width: 110px;
    }

    .pokemon img{
        height: 110px;
        width: 110px;
    }

    .image-card{
        max-width: 320px;
    }

    .pokeball-card{
	    width: 310px;
    }
}

@media screen and (min-width: 500px){
    .main{
        order: 1
    }

    .details-content{
        order: 2
    }

    .pokemons{
        grid-template-columns: 1fr;
    }

    .main{
        flex-direction: row;
    }

    .pokemon{
        min-width: unset;
        width: 120px;
    }

    .content{
        width: fit-content;
    }

    .name{
        align-self: center;
    }

    .detail{
        display: flex;
        flex-direction: column;
    }

    .types{
        display: flex;;
        flex-direction: row;
        align-self: center;
        order: 2;
    }  

    .pokemon .detail img{
        max-width: 100%;
        align-self: center;
        order: 1;
    }

    .abilities-list{
        margin-right: 15px;
    }

    .ability-name{
        padding: 4px 15px 4px 15px;
    }

    .hidden{
        font-size: 12px;
        border-radius: 15px;
        margin-left: 10px;
        padding: 2px 8px 2px 8px;
        margin-right: 4px;
    }

    .ability-info-box{
        margin-top: 27px;
        min-width: 190px;
    }

    .content{
        margin: 1rem auto;
    }
}

@media screen and (min-width: 550px){
    .variation, .evolution{
        width: 50%;
    }


}

@media screen and (min-width: 600px){
    .pokeball-card{
        width: 250px;
    }

    .abilities-list{
        margin-left: 40px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 650px){

}

@media screen and (min-width: 700px){
    .pokeball-card{
        width: 280px;
    }

    .pokemons{
        grid-template-columns: 1fr 1fr;
    }

    .main{
        gap: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (min-width: 760px){
    .pokeball-card{
        width: 300px;
    }
}

@media screen and (min-width: 790px){
    .image-card{
        width: 350px;
    }

    .variation, .evolution{
        width: 175px;
    }

    .variation-img-background, .evolution-img-background{
        height: 150px;
    }

    .variation-name, .evolution-name{
        font-size: 15px;
    }
}

@media screen and (min-width: 900px){
    .pokeball-card{
        width: 350px;
    }

    .stat-bar-background{
        width: 56%;
    }

    .variation, .evolution {
        width: 199px;
    }

    .variation-img-background, .evolution-img-background{
        height: 170px;
    }

     .variation-name, .evolution-name{
        font-size: 16px;
    }
}

@media screen and (min-width: 1050px){
    .content{
        max-width: 1050px;
    }

    .main{
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1300px){
    .stat-bar-background{
        width: 68%;
    }
}