:root{
    --fighting: rgb(208 64 106);
    --psychic: rgb(240 115 120);
    --poison: rgb(171 106 201);
    --dragon: rgb(13 109 200);
    --ghost: rgb(82 107 174);
    --dark: rgb(92 84 103);
    --ground: rgb(219 121 70);
    --fire: rgb(255 156 85);
    --fairy: rgb(235 143 229);
    --water: rgb(77 144 212);
    --flying: rgb(144 169 222);
    --normal: rgb(143 153 161);
    --rock: rgb(197 184 138);
    --electric: rgb(243 210 59);
    --bug: rgb(144 194 45);
    --grass: rgb(99 188 92);
    --ice: rgb(118 206 192);
    --steel: rgb(91 144 163);

    --degree: 150deg;

    --dark: rgb(40, 40, 40);

    --thin: 400;
    --thick: 550;
}

.fighting{
    background-color: var(--fighting);
    color: white;
    font-weight: var(--thin);
}

.psychic{
    background-color: var(--psychic);
    color: white;
    font-weight: var(--thin);
}

.poison{
    background-color: var(--poison);
    color: white;
    font-weight: var(--thin);
}

.dragon{
    background-color: var(--dragon);
    color: white;
    font-weight: var(--thin);
}

.ghost{
    background-color: var(--ghost);
    color: white;
    font-weight: var(--thin);
}

.dark{
    background-color: var(--dark);
    color: white;
    font-weight: var(--thin);
}

.ground{
    background-color: var(--ground);
    color: white;
    font-weight: var(--thin);
}

.fire{
    background-color: var(--fire);
    color: var(--dark);
    font-weight: var(--thick);
}

.fairy{
    background-color: var(--fairy);
    color: var(--dark);
    font-weight: var(--thick);
}

.water{
    background-color: var(--water);
    color: white;
    font-weight: var(--thin);
}

.flying{
    background-color: var(--flying);
    color: var(--dark);
    font-weight: var(--thick);
}

.normal{
    background-color: var(--normal);
    color: white;
    font-weight: var(--thin);
}

.rock{
    background-color: var(--rock);
    color: var(--dark);
    font-weight: var(--thick);
}

.electric{
    background-color: var(--electric);
    color: var(--dark);
    font-weight: var(--thick);
}

.bug{
    background-color: var(--bug);
    color: var(--dark);
    font-weight: var(--thick);
}

.grass{
    background-color: var(--grass);
    color: var(--dark);
    font-weight: var(--thick);
}

.ice{
    background-color: var(--ice);
    color: var(--dark);
    font-weight: var(--thick);
}

.steel{
    background-color: var(--steel);
    color: var(--dark);
    font-weight: var(--thick);
}

.secondary-fighting{
    background: linear-gradient(var(--degree), transparent 80%, var(--fighting) 90%);
}

.secondary-psychic{
    background: linear-gradient(var(--degree), transparent 80%, var(--psychic) 90%);
}

.secondary-poison{
    background: linear-gradient(var(--degree), transparent 80%, var(--poison) 90%);
}

.secondary-dragon{
    background: linear-gradient(var(--degree), transparent 80%, var(--dragon) 90%);
}

.secondary-ghost{
    background: linear-gradient(var(--degree), transparent 80%, var(--ghost) 90%);
}

.secondary-dark{
    background: linear-gradient(var(--degree), transparent 80%, var(--dark) 90%);
}

.secondary-ground{
    background: linear-gradient(var(--degree), transparent 80%, var(--ground) 90%);
}

.secondary-fire{
    background: linear-gradient(var(--degree), transparent 80%, var(--fire) 90%);
}

.secondary-fairy{
    background: linear-gradient(var(--degree), transparent 80%, var(--fairy) 90%);
}

.secondary-water{
    background: linear-gradient(var(--degree), transparent 80%, var(--water) 90%);
}

.secondary-flying{
    background: linear-gradient(var(--degree), transparent 80%, var(--flying) 90%);
}

.secondary-normal{
    background: linear-gradient(var(--degree), transparent 80%, var(--normal) 90%);
}

.secondary-rock{
    background: linear-gradient(var(--degree), transparent 80%, var(--rock) 90%);
}

.secondary-electric{
    background: linear-gradient(var(--degree), transparent 80%, var(--electric) 90%);
}

.secondary-bug{
    background: linear-gradient(var(--degree), transparent 80%, var(--bug) 90%);
}

.secondary-grass{
    background: linear-gradient(var(--degree), transparent 80%, var(--grass) 90%);
}

.secondary-ice{
    background: linear-gradient(var(--degree), transparent 80%, var(--ice) 90%);
}

.secondary-steel{
    background: linear-gradient(var(--degree), transparent 80%, var(--steel) 90%);
}

.top-left-gradient{
    --degree: 25deg;
    left: 0;
    top: 0;
}

.detail-gradient{
    height: 210px;
    border-radius: 1rem;
}

/* .fighting-light{
    background-color: rgb(208, 64, 106, 0.6);
    color: white;
}

.psychic-light{
    background-color: rgb(240, 115, 120, 0.6);
    color: white;
}

.poison-light{
    background-color: rgb(171, 106, 201, 0.6);
    color: white;
}

.dragon-light{
    background-color: rgb(13, 109, 200, 0.6);
    color: white;
}

.ghost-light{
    background-color: rgb(82, 107, 174, 0.6);
    color: white;
}

.dark-light{
    background-color: rgb(92, 84, 103, 0.6);
    color: white;
}

.ground-light{
    background-color: rgb(219, 121, 70, 0.6);
    color: white;
}

.fire-light{
    background-color: rgba(255, 156, 85, 0.6);
    color: rgb(40, 40, 40);
}

.fairy-light{
    background-color: rgba(235, 143, 229, 0.6);
    color: rgb(40, 40, 40);
}

.water-light{
    background-color: rgba(77, 144, 212, 0.6);
    color: white;
}

.flying-light{
    background-color: rgba(144, 169, 222, 0.6);
    color: rgb(40, 40, 40);
}

.normal-light{
    background-color: rgba(143, 153, 161, 0.6);
    color: white;
}

.rock-light{
    background-color: rgba(197, 184, 138, 0.6);
    color: rgb(40, 40, 40);
}

.electric-light{
    background-color: rgba(243, 210, 59, 0.6);
    color: rgb(40, 40, 40);
}

.bug-light{
    background-color: rgba(144, 194, 45, 0.6);
    color: rgb(40, 40, 40);
}

.grass-light{
    background-color: rgba(99, 188, 92, 0.6);
    color: rgb(40, 40, 40);
}

.ice-light{
    background-color: rgba(118, 206, 192, 0.6);
    color: rgb(40, 40, 40);
}

.steel-light{
    background-color: rgba(91, 144, 163, 0.6);
    color: rgb(40, 40, 40);
} */

.fighting-background{
    background: linear-gradient(to bottom, rgb(208 64 106) 210px, white 240px);
}

.psychic-background{
    background: linear-gradient(to bottom, rgb(240 115 120) 210px, white 240px);
}

.poison-background{
    background: linear-gradient(to bottom, rgb(171 106 201) 210px, white 240px);
}

.dragon-background{
    background: linear-gradient(to bottom, rgb(13 109 200) 210px, white 240px);
}

.ghost-background{
    background: linear-gradient(to bottom, rgb(82 107 174) 210px, white 240px);
}

.dark-background{
    background: linear-gradient(to bottom, rgb(92 84 103) 210px, white 240px);
}

.ground-background{
    background: linear-gradient(to bottom, rgb(219 121 70) 210px, white 240px);
}

.fire-background{
    background: linear-gradient(to bottom, rgb(255 156 85) 210px, white 240px);
}

.fairy-background{
    background: linear-gradient(to bottom, rgb(235 143 229) 210px, white 240px);
}

.water-background{
    background: linear-gradient(to bottom, rgb(77 144 212) 210px, white 240px);
}

.flying-background{
    background: linear-gradient(to bottom, rgb(144 169 222) 210px, white 240px);
}

.normal-background{
    background: linear-gradient(to bottom, #8F99A1 210px, white 240px);
}

.rock-background{
    background: linear-gradient(to bottom, rgb(197 184 138) 210px, white 240px);
}

.electric-background{
    background: linear-gradient(to bottom, rgb(243 210 59) 210px, white 240px);
}

.bug-background{
    background: linear-gradient(to bottom, rgb(144 194 45) 210px, white 240px);
}

.grass-background{
    background: linear-gradient(to bottom, rgb(99 188 92) 210px, white 240px);
}

.ice-background{
    background: linear-gradient(to bottom, rgb(118 206 192) 210px, white 240px);
}

.steel-background{
    background: linear-gradient(to bottom, rgb(91 144 163) 210px, white 240px);
}

@media screen and (min-width: 460px) and (max-width: 599px){
     .fighting-background{
        background: linear-gradient(to bottom, rgb(208 64 106) 260px, white 290px);
    }

    .psychic-background{
        background: linear-gradient(to bottom, rgb(240 115 120) 260px, white 290px);
    }

    .poison-background{
        background: linear-gradient(to bottom, rgb(171 106 201) 260px, white 290px);
    }

    .dragon-background{
        background: linear-gradient(to bottom, rgb(13 109 200) 260px, white 290px);
    }

    .ghost-background{
        background: linear-gradient(to bottom, rgb(82 107 174) 260px, white 290px);
    }

    .dark-background{
        background: linear-gradient(to bottom, rgb(92 84 103) 260px, white 290px);
    }

    .ground-background{
        background: linear-gradient(to bottom, rgb(219 121 70) 260px, white 290px);
    }

    .fire-background{
        background: linear-gradient(to bottom, rgb(255 156 85) 260px, white 290px);
    }

    .fairy-background{
        background: linear-gradient(to bottom, rgb(235 143 229) 260px, white 290px);
    }

    .water-background{
        background: linear-gradient(to bottom, rgb(77 144 212) 260px, white 290px);
    }

    .flying-background{
        background: linear-gradient(to bottom, rgb(144 169 222) 260px, white 290px);
    }

    .normal-background{
        background: linear-gradient(to bottom, #8F99A1 260px, white 290px);
    }

    .rock-background{
        background: linear-gradient(to bottom, rgb(197 184 138) 260px, white 290px);
    }

    .electric-background{
        background: linear-gradient(to bottom, rgb(243 210 59) 260px, white 290px);
    }

    .bug-background{
        background: linear-gradient(to bottom, rgb(144 194 45) 260px, white 290px);
    }

    .grass-background{
        background: linear-gradient(to bottom, rgb(99 188 92) 260px, white 290px);
    }

    .ice-background{
        background: linear-gradient(to bottom, rgb(118 206 192) 260px, white 290px);
    }

    .steel-background{
        background: linear-gradient(to bottom, rgb(91 144 163) 260px, white 290px);
    }

    .detail-gradient{
        height: 260px;
    }
}

@media screen and (min-width: 850px){
.fighting-background{
        background: linear-gradient(to bottom, rgb(208 64 106) 250px, white 280px);
    }

    .psychic-background{
        background: linear-gradient(to bottom, rgb(240 115 120) 250px, white 280px);
    }

    .poison-background{
        background: linear-gradient(to bottom, rgb(171 106 201) 250px, white 280px);
    }

    .dragon-background{
        background: linear-gradient(to bottom, rgb(13 109 200) 250px, white 280px);
    }

    .ghost-background{
        background: linear-gradient(to bottom, rgb(82 107 174) 250px, white 280px);
    }

    .dark-background{
        background: linear-gradient(to bottom, rgb(92 84 103) 250px, white 280px);
    }

    .ground-background{
        background: linear-gradient(to bottom, rgb(219 121 70) 250px, white 280px);
    }

    .fire-background{
        background: linear-gradient(to bottom, rgb(255 156 85) 250px, white 280px);
    }

    .fairy-background{
        background: linear-gradient(to bottom, rgb(235 143 229) 250px, white 280px);
    }

    .water-background{
        background: linear-gradient(to bottom, rgb(77 144 212) 250px, white 280px);
    }

    .flying-background{
        background: linear-gradient(to bottom, rgb(144 169 222) 250px, white 280px);
    }

    .normal-background{
        background: linear-gradient(to bottom, #8F99A1 250px, white 280px);
    }

    .rock-background{
        background: linear-gradient(to bottom, rgb(197 184 138) 250px, white 280px);
    }

    .electric-background{
        background: linear-gradient(to bottom, rgb(243 210 59) 250px, white 280px);
    }

    .bug-background{
        background: linear-gradient(to bottom, rgb(144 194 45) 250px, white 280px);
    }

    .grass-background{
        background: linear-gradient(to bottom, rgb(99 188 92) 250px, white 280px);
    }

    .ice-background{
        background: linear-gradient(to bottom, rgb(118 206 192) 250px, white 280px);
    }

    .steel-background{
        background: linear-gradient(to bottom, rgb(91 144 163) 250px, white 280px);
    }

    .detail-gradient{
        height: 250px;
    }
}

@media screen and (min-width: 1250px){
    .fighting-background{
        background: linear-gradient(to bottom, rgb(208 64 106) 320px, white 350px);
    }

    .psychic-background{
        background: linear-gradient(to bottom, rgb(240 115 120) 320px, white 350px);
    }

    .poison-background{
        background: linear-gradient(to bottom, rgb(171 106 201) 320px, white 350px);
    }

    .dragon-background{
        background: linear-gradient(to bottom, rgb(13 109 200) 320px, white 350px);
    }

    .ghost-background{
        background: linear-gradient(to bottom, rgb(82 107 174) 320px, white 350px);
    }

    .dark-background{
        background: linear-gradient(to bottom, rgb(92 84 103) 320px, white 350px);
    }

    .ground-background{
        background: linear-gradient(to bottom, rgb(219 121 70) 320px, white 350px);
    }

    .fire-background{
        background: linear-gradient(to bottom, rgb(255 156 85) 320px, white 350px);
    }

    .fairy-background{
        background: linear-gradient(to bottom, rgb(235 143 229) 320px, white 350px);
    }

    .water-background{
        background: linear-gradient(to bottom, rgb(77 144 212) 320px, white 350px);
    }

    .flying-background{
        background: linear-gradient(to bottom, rgb(144 169 222) 320px, white 350px);
    }

    .normal-background{
        background: linear-gradient(to bottom, #8F99A1 320px, white 350px);
    }

    .rock-background{
        background: linear-gradient(to bottom, rgb(197 184 138) 320px, white 350px);
    }

    .electric-background{
        background: linear-gradient(to bottom, rgb(243 210 59) 320px, white 350px);
    }

    .bug-background{
        background: linear-gradient(to bottom, rgb(144 194 45) 320px, white 350px);
    }

    .grass-background{
        background: linear-gradient(to bottom, rgb(99 188 92) 320px, white 350px);
    }

    .ice-background{
        background: linear-gradient(to bottom, rgb(118 206 192) 320px, white 350px);
    }

    .steel-background{
        background: linear-gradient(to bottom, rgb(91 144 163) 320px, white 350px);
    }

    .detail-gradient{
        height: 320px;
    }
} 


/* Se tenho um linear gradient 30% e 70%, então a cor terminará 3m 30%, e se
iniciará um gradiente até o 70%, onde a segunda cor sólida começará. Para ter
uma cor sólida em 30%, e o restante como a outra cor sólida, deve-se usar 30% e 30% */