.fighting{
    background-color: #D0406A;
    color: white;
}

.psychic{
    background-color: #FA7378;
    color: white;
}

.poison{
    background-color: #AB6AC9;
    color: white;
}

.dragon{
    background-color: #0D6DC8;
    color: white;
}

.ghost{
    background-color: #526BAE;
    color: white;
}

.dark{
    background-color: #5C5467;
    color: white;
}

.ground{
    background-color: #DB7946;
    color: white;
}

.fire{
    background-color: #FF9C55;
    color: black;
}

.fairy{
    background-color: #EB8FE5;
    color: black;
}

.water{
    background-color: #4D90D4;
    color: white;
}

.flying{
    background-color: #90A9DE;
    color: black;
}

.normal{
    background-color: #8F99A1;
    color: white;
}

.rock{
    background-color: #C5B88A;
    color: black;
}

.electric{
    background-color: #F3D23B;
    color: black;
}

.bug{
    background-color: #90C22D;
    color: black;
}

.grass{
    background-color: #63BC5C;
    color: black;
}

.ice{
    background-color: #76CEC0;
    color: black;
}

.steel{
    background-color: #5B90A3;
    color: black;
}

.fighting-background{
    background: linear-gradient(to bottom, #D0406A 170px, white 170px);
}

.psychic-background{
    background: linear-gradient(to bottom, #FA7378 170px, white 170px);
}

.poison-background{
    background: linear-gradient(to bottom, #AB6AC9 170px, white 170px);
}

.dragon-background{
    background: linear-gradient(to bottom, #0D6DC8 170px, white 170px);
}

.ghost-background{
    background: linear-gradient(to bottom, #526BAE 170px, white 170px);
}

.dark-background{
    background: linear-gradient(to bottom, #5C5467 170px, white 170px);
}

.ground-background{
    background: linear-gradient(to bottom, #DB7946 170px, white 170px);
}

.fire-background{
    background: linear-gradient(to bottom, #FF9C55 170px, white 170px);
}

.fairy-background{
    background: linear-gradient(to bottom, #EB8FE5 170px, white 170px);
}

.water-background{
    background: linear-gradient(to bottom, #4D90D4 170px, white 170px);
}

.flying-background{
    background: linear-gradient(to bottom, #90A9DE 170px, white 170px);
}

.normal-background{
    background: linear-gradient(to bottom, #8F99A1 170px, white 170px);
}

.rock-background{
    background: linear-gradient(to bottom, #C5B88A 170px, white 170px);
}

.electric-background{
    background: linear-gradient(to bottom, #F3D23B 170px, white 170px);
}

.bug-background{
    background: linear-gradient(to bottom, #90C22D 170px, white 170px);
}

.grass-background{
    background: linear-gradient(to bottom, #63BC5C 170px, white 170px);
}

.ice-background{
    background: linear-gradient(to bottom, #76CEC0 170px, white 170px);
}

.steel-background{
    background: linear-gradient(to bottom, #5B90A3 170px, white 170px);
}

/* Se tenho um linear gradient 30% e 70%, então a cor terminará 3m 30%, e se
iniciará um gradiente até o 70%, onde a segunda cor sólida começará. Para ter
uma cor sólida em 30%, e o restante como a outra cor sólida, deve-se usar 30% e 30% */